// main colors
$primaryColor: #CDAA6A;
$borderColor: #d9e0e5;
$mainRedColor: #FF0000;
$redColor: #f54748;
$greyColor: #C2C2C2;
$yellowColor: #FFC918;
$shadowColor: rgba(#000 , 0.16);

// head colors
$headingMainColor: #000;
$headingprimaryColor: #333743;
$headingThirdColor: #4B4B4B;
$headingFourthColor: #4E4E4E;

//parag Colors
$paragraphMainColor: #000;
$paragraphprimaryColor: #aaaaaa;
$paragraphThirdColor: #434343;

//brand Colors
$twitterColor: #2abdf4;
$facebookColor: #4979ba;
$linkedinColor: #2279ef;
$borderBreakColor: #d9e0e5;

$borderBreakColor: #d9e0e5;

//border radius
$mainBorderRadius: 10px;
$secondaryBorderRadius: 20px;

$mainBackgroundColor: #FAFAFA;
$secondaryBackgroundColor: #F9F4EC;

$dir: "ltr";
