@import "../../Styles/main.scss";

.header {
  background-color: rgba($primaryColor , 0.1);

  .header_content {
    display: flex;
    align-items: center;
    padding: 20px 0;
  
  
    @include sm {
      padding: 15px 0;
      justify-content: space-between;
    }
  }
}
